/* Center the canvas on the page */
canvas {
    display: block;
    margin: 0 auto;
}

/* Add a background color */
body {
    background-image: url(background.png);
}

/* Add some basic styling to the game over text */
#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

button {
    display: block;
    margin: 0 auto;
}

canvas {
    width: 80%;
    height: 80%;
    max-width: 500px;
    max-height: 500px;
}

.jump {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 5px auto;
    outline: none;
    border-radius: 20px;
    border: 2px solid #4433ff;
    background: #4433ff;
  }
  .jump:hover {
    background: #fff;
    color: #4433ff
  }